.features-table {
    border-collapse: collapse;
    text-align: left;
    margin-left: 2vw;
    font-size: 2.75vh;
    letter-spacing: 0.1vw;
    width: 61vw;
    margin-top: 5vh;
    padding: 2vh 2vw;
    margin-bottom: 5vh;
}

.features-table td {
    border: 1px solid white;
    padding: 2vh 2vw; /* Add some padding to make it look better */
}

.features-table th {
    border: 1px solid white;
    padding: 1vh 1vw; /* Add some padding to make it look better */
}

.feat-head {
    margin-bottom: 2vh;
    margin-top: 6vh;
    font-size: 4vh;
    font-weight: lighter;
    text-align: left;
    margin-left: 2vw;
}
