/* src/components/Formtabs.css */
.Formtabs {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab-headers {
    display: flex;
    justify-content: center;
    height: 7vh;
    font-size: 3vh;
    margin-bottom: 5vh;
}

.tab-header {
    cursor: pointer;
    padding: 1vh 4vw;
    color: #fff;
    background-color: rgba(59, 57, 54, 0.1);
}

.tab-header.active {
    font-weight: 500;
    color: rgba(59, 57, 54, 0.8);
    background: rgb(207, 148, 114);
}

.prop-type {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.prop {
    padding: 2vh 3vw;
    font-size: 3vh;
    background: rgba(27, 27, 26, 0.9);
    color: white;
    margin-bottom:  6vh;
}

.form-data {
    display: none;
    margin-top: 1em;
}

.form-data.active {
    display: block;
}

.prop-type, .bed-num, .currency {
    margin-bottom: 1em;
}

.p-type, .b-num, .c-num {
    display: block;
    margin-bottom: 0.5em;
}

.c-num {
    margin-top: 1.5vh;
}

.currency {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.curr-country {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.curr-country a {
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    color: rgba(73, 71, 68, 0.6);
    font-size: 2.5vh;
}

.curr-country a.active {
    color: #a59f9f;
}

.curr-country a:hover {
    color: #8b8b8b;
}

.curr-country a:active {
    color: #8b8b8b;
}

.min-max {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Min, .Max {
    font-size: 1.2em;
    font-weight: bold;
}

.Min-num {
    flex: 1;
    margin: 0 0.5em;
    padding: 0.5em;
    padding-top: 2.5vh;
    color: #000;
    border-radius: 4px;
    text-align: center;
    height: 7vh;
    font-size: 3vh;
    color: rgb(255, 255, 255);
}

