.Types {
    padding: 15vh 5vw;
    color: rgb(211, 210, 199);
    border-bottom: 1px solid rgb(207, 148, 114);
}

.tab-head {
    margin-bottom: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vh;
    font-weight: lighter;
}

.tabs-types {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    color: rgb(211, 210, 199, 0.6);
    cursor: pointer;
}

.tabs-types a {
    padding-right: 2vw;
}

.tabs-types .active {
    color: rgb(211, 210, 199);
    font-weight: bold;
    padding-bottom: 1vh;
}

.slick-slide {
    /* margin-bottom: 2rem; */
    overflow: hidden;
}

.splide {
    margin: 0;
}

.splide__slide {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.prop-data {
    display: flex;
    flex-direction: column;
    border: 0.25px solid rgb(211, 210, 199);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #111010;
    height: 79vh; /* Adjust as needed to accommodate image height */
    font-weight: lighter;
    letter-spacing: 0.1vw;
    cursor: pointer;
    width: 30vw;
    align-content: space-between;
    justify-content: space-between;
    overflow-y: hidden;
}

.data-slide {
    text-align: left;
    padding: 2vh 2vw;
    width: 30vw;
}

.slide-head {
    font-size: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.prop-data p {
    margin: 2vh 0vw;
    font-size: 2.75vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cost {
    font-size: 3.5vh;
    line-height: 6vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.imgs-slide {
    height: 70vh;
    object-fit: cover; /* Ensure images cover the container and maintain aspect ratio */
}

.contact-slide {
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh;
    border-top: 0.25px solid rgb(211, 210, 199);
}

.contact-slide i {
    border-right: 1px solid rgb(211, 210, 199);
    padding: 2vh 5vw;
    text-align: center;
    cursor: pointer;
    color: rgb(207, 148, 114);
}

.bed {
    padding-top: 3.5vh;
    padding-left: 0.5vw;
    font-size: 6vh;
}

.bath {
    padding-top: 1vh;
    font-size: 4vh;
}




.type-controls{
    color: rgb(211, 210, 199);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 3vh;
    padding-top: 4vh;
}

.type-controls span {
    cursor: pointer;
    border-bottom: 1px solid rgb(207, 148, 114);
    width: 20vw;
    text-align: left;
    line-height: 6vh;
}

div .next-type {
    text-align: right;
}

.image-slider-container {
    margin-bottom: 4vh;
    position: relative;
    text-align: center;
}

.image-controls button {
    background: rgb(211, 210, 199, 0.7);
    border: none;
    color: #111010;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 2vh;
    margin: 0 1rem;
    transition: background 0.3s ease;
}

.image-controls button:hover {
    background: rgb(211, 210, 199);
}
